.shopButton {
  cursor: pointer;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: var(--primaryLight);
  border: 2px solid var(--primaryLight);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primaryLight);
    cursor: pointer;
    color: var(--primaryDark);
  }
}
