.spotlightWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-base), sans-serif;

  
}
.spotlight {
  margin: 100px 0;
}

.spotlightItemInsideWrapper {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.spotlightItem {
  background-color: var(--secondaryLight);
  width: 90vw;
  margin-bottom: 150px;
}

.spotlightItemName {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(----primaryDark);
  font-weight: 700;
  width: 150px;
  height: 40px;
}

.spotlightItemPrice {
  @extend .spotlightItemName;
  font-size: 0.9rem;
  width: 80px;
  height: 30px;
}


.spotlightItemInfo {
  text-align: justify;
}


.spotlightItemButton {
  width: 100%;
  height: 45px;
  background-color: white;
  color: var(--primaryDark);
  border: none;
  margin: 40px 0 30px;
}

.spotlightPlaceholder {
  @extend .spotlightItem;
  height: 500px;
}
