.wrapper {
  margin-top: 150px;
  // background-color: rgb(55, 144, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  text-align: center;
  text-transform: uppercase;
}
