.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
  padding: 40px;
}

.nav {
  margin-top: 40px;

  ul {
    padding: 0;
    li {
      color: var(--primaryLight);
      font-size: 1.2rem;
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        transition: color 0.5s ease-in-out;

        &:hover {
          color: var(--secondaryHover);
        }
      }
    }

    a {
      display: block;

      :not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.copyright {
  color: var(--secondaryDark);
  margin: 20px auto 0;
  font-size: 0.8rem;
}
