.card {
  border: 0;
  width: 350px;
}

.containerCard {
  border: 1px solid transparent;
  background: #fff;
  background-clip: padding-box;

  h5 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.bgBlackBox {
  position: relative;
}

.bgBlackBox::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: '';
  z-index: -1;
}

.bgBlackBox::after {
  background: linear-gradient(71deg, #ddd, #686868, #ddd);
}
